@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    padding: 0px;
    /* margin:0px auto; */
    /* automatically center all text */
}
body {
    width:1200px;
}
a {
    text-decoration: none;
}
.centertext {
    font-size: 30px;
    margin-right: 240px;
    color: black;

}
.navigation-text {
    font-size: 20px; 
    padding: 10px;
}
.pictures {
    border: 4px solid black;
    margin: 5px;
    font-size: 20px;
}
.productselect {
    background-color: yellow;
}
.your-liking {
    text-align: left;
    width: 255px;
    font-size: 20px;
}
.originalcr {
    margin-left: 30px;
}
.productwrapper:hover {
    background-color: yellow;
    
}
.productwrapper {
    /*width: 418px;*/
    /*margin-top: 30px; */
}
.productspace {
    margin-bottom: 40px;
}
.dropdown-button {
    border: 3px;
    border-style: solid;
    border-color: black;
    width: 150px;
    font-size: 20px;
}
.dropdown {
    margin-left: 10px;
    width: 225px;
    text-align: center;
    margin-bottom: 20px;
}
.button1 {
    margin-left: 40px;
    background-color: yellow;
    font-size: 15 ;
    font-weight: 600 ;
    border: 2px solid black;
    padding: 10px 15px 10px 15px;
}
.price {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0px 30px 0px
}
h1 {
    font-size: 20px;
    font-weight: 400;
    /* different font sizes for text */
}
.textspace {
    width: 250px;
    margin-top: 10px;
    /* adjusted margins to replicate mockups */
   
}
.textspace2 {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.h2 {
    font-size: 15px;
    font-weight: 200;
    position: absolute; 
}
.h3 {
    font-size: 25px;
    font-weight: 300;

}
.h4 {
    margin-left: 20px;
}
.text:hover {
    font-weight: bold;
    color: black;
    font-size: 20px;
    
    /* to bold hovered text in product gallery page */
}
.text {
    color:black;
    font-size: 20px;
    
}
hr {
  border-bottom: 3px solid black;
  margin-left: 20px;
  margin-top: 40px;
  /* I got this styling source from w3 */
}
.navigationBar { 
    display: flex;
}

.navLinks{
    display: flex;
    justify-content: right;
    margin: 20px 20px;
}

.navRight
{
    flex-grow: 1;

}
.navText {
    font-size: 20px;
    margin-top: 90px;
    color: black;
 
}
.navLinks2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
.navLinks3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
.productflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productText {
    margin-left: 40px;
}
.cartFlex {
    display: flex; 
    justify-content: flex-end;
}
p {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif
}