@import url('https://fonts.googleapis.com/css?family=Karla');
h1 {
    text-align: left;
    text-decoration: underline;
    font-family: Karla;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    /* different font sizes for text */
    
}
#location-form {
    font-family: Karla;
    font-size: 20px;
    text-align: left;
    
   
}
#description {
    font-family: Karla;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1200px;
    height: 150px;
    flex-shrink: 0;
    inline-size: 650px;
    overflow-wrap: break-word;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    letter-spacing: 0.5px;
    line-height: normal;
}

#department {
    color: #000;
    font-family: Karla;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}
#button {
    text-align: center;
    font-family: Karla;
    font-size: 20px;
}
#submitZipcode {
    border-radius: 5px;
    background: #CFEBFF;
    font-family: Karla;
    width: 90px;
    height: 25px;
    
}
#border {
   margin-top: 8%;
}
img {
    border-radius: 10px;
    border: 1px solid #000;
    width: 300px;
    height: 400px;
    flex-shrink: 0;

}
h2 {
    font-family: Karla;
    font-size: 32px;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 20px;
}
h3 {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;
}
#display-data {
    text-align: center;
    font-family: Karla;
    font-size: 28px;
}
.temperature {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;
}
.city {
    font-family: Karla;
    font-size: 28px;
    font-weight: normal;
}
.mintemp {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;
    margin-top: 30px;
}
body{
    background-image:url('PUI-Images/abstract-surface-textures-white-concrete-stone-wall_74190-8189.avif');
    background-size: cover;
    
    height: 140vh;
    padding:0;
    margin:0;
}
#forecast {
    text-align: center;
}
.maxtemp {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 50px;
}
label{ 
    font-family: Karla; 
    font-size: 26px;
    text-align: left;
}
#location {
    width: 230px;
    height: 25px;
}
#display-words{
    text-align: center;
    font-family: Karla;
    font-size: 28px;
    margin-bottom: 40px;
}