@import url('https://fonts.googleapis.com/css?family=Karla');
h1 {
    text-align: left;
    text-decoration: underline;
    font-family: Karla;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    /* different font sizes for text */
    
}
#location-form {
    font-family: Karla;
    font-size: 20px;
    
   
}
#description {
    font-family: Karla;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1200px;
    height: 150px;
    flex-shrink: 0;
    inline-size: 650px;
    overflow-wrap: break-word;
    text-align: center;
    margin: auto;
}

#department {
    color: #000;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}
#button {
    text-align: center;
    font-family: Karla;
    font-size: 20px;
}
#submitZipcode {
    border-radius: 5px;
    background: #CFEBFF;
    font-family: Karla;
}
#border {
   margin-top: 8%;
}
img {
    border-radius: 10px;
    border: 1px solid #000;
    width: 300px;
    height: 400px;
    flex-shrink: 0;

}
h2 {
    font-family: Karla;
    font-size: 32px;
    font-weight: normal;
}
h3 {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;
}
#display-data {
    text-align: center;
}
.temperature {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;

}
.city {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;
}
.condition {
    font-family: Karla;
    font-size: 26px;
    font-weight: normal;
}
body{
    background-image:url('PUI-Images/photo-1504253163759-c23fccaebb55.avif');
    background-size: cover;
    
    height: 140vh;
    padding:0;
    margin:0;
}
#forecast {
    text-align: center;
}